{% extends empty-base %}
{% block title %}
{% if storeOrder.totalAmount == 0 %}Confirmation{% endif %}{% if storeOrder.totalAmount > 0 %}Check Out{% endif %} - {{ store.name }}
{% endblock %}
{% block head %}
<style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
</style>
{% endblock %}
{% block content %}
<div ng-app="expertory">
<div class="" ng-controller="CheckOutCtrl">
    <div class="store-logo">
        <a href="/" title="{{ store.name }}">
            {% if store.selectedLogo %}
            {{ store.selectedLogo | img_tag:store.name, store.selectedLogoClass }}
            {% else %}
            <h3>{{ store.name| escape }}</h3>
            {% endif %}
        </a>
    </div>
    
    {% if storePaymentIssue == true %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Unable to proceed</h3>
        </div>
        <div class="panel-body">
            {{ store.name }} is unable to accept payments at this time. Please contact the store directly.
        </div>
    </div>
    {% endif %}
    {% if storePaymentIssue == false %}
    <form name="checkout" ng-submit="PayNow($event, checkout)" role="form" blur-validate novalidate>
        <div class="my-cart" class="ng-cloak" ng-cloak >
            <div class="row header">
                <div class="col-md-12">
                    <h4 class="text-center" ng-show="StoreOrder.totalAmount > 0">Check Out</h4>
                    <h4 class="text-center" ng-show="StoreOrder.totalAmount == 0">Confirmation</h4>
                </div>
            </div>
                        
            <div class="row" ng-show="StoreOrder.lines == null || StoreOrder.lines.length == 0">
                <div class="col-md-12 padding-10">
                    No items in cart
                </div>
            </div>

            <div class="cart-item row" ng-repeat="line in StoreOrder.lines" ng-cloak>
                            
                <div class="col-md-2 text-center date-wrap padding-10">
                    <div class="appointment" ng-show="line.productTypeName == 'Listing'">
                        <div class="month" ng-bind="FormatDate(line.sessionTime,'MMM')"></div>
                        <div class="date" ng-bind="FormatDate(line.sessionTime,'D')"></div>
                        <hr />
                        <div class="day">
                            <span ng-bind="FormatDate(line.sessionTime,'ddd')"></span>
                            <span class="pagefold"></span>
                        </div>
                    </div>
                    <div class="appointment no-page-fold" ng-show="line.productTypeName == 'VodRental' || line.productTypeName == 'VodSubscription'">
                        <i class="fa fa-film fa-4x" style="line-height: 73px;"></i>
                    </div>
                    <div class="appointment no-page-fold" ng-show="line.productTypeName == 'ListingPackage'">
                        <i class="fa fa-archive fa-4x" style="line-height: 73px;"></i>
                    </div>
                    <div class="appointment no-page-fold" ng-show="line.productTypeName == 'Webinar'">
                        <i class="fa fa-play-circle-o fa-4x" style="line-height: 73px;"></i>
                    </div>
                </div>
                <div class="col-md-7 padding-10">
                    <img class="class-image" ng-src="{% raw  %}{{line.sessionImage}}{% endraw %}" ng-show="line.sessionImage"/>
                    <div class="class-info">
                        <span class="class-name" ng-bind="line.sessionName"></span>
                        <span class="class-description one-line" ng-bind="line.sessionDescription"></span>
                        <div ng-show="line.sessionTime">When: <span ng-bind="FormatDate(line.sessionTime,'llll')"></span></div>
                        <div ng-show="line.videoOnDemandType == 'rental'">Rent for <span ng-bind="line.rentalPeriod"></span> day<span ng-show="line.rentalPeriod > 1">s</span></div>
                    </div>
                </div>
                <div class="col-md-2 text-right padding-10">
                    <span class="price" ng-bind="line.price | currency: Store.currencySymbol" ng-show="StoreOrder.totalAmount > 0"></span>
                </div>
                <div class="col-md-1 text-center padding-10">
                        <button type="button" class="btn btn-default" ng-click="DeleteLine(line)"><i class="fa fa-trash-o"></i></button>
                </div>
                            
            </div>

            <div class="footer" ng-cloak>
                <div class="totals padding-10">
                                
                    <div class="row" ng-hide="StoreOrder.couponId || DiscountCodeEntryEnabled || StoreOrder.totalAmount == 0">
                        <div class="col-md-6 col-md-offset-5 text-right">
                            <div ><button type="button" class="btn btn-link" ng-click="DiscountCodeEntryEnabled = true">Enter discount code</button></div>
                        </div>
                    </div>
                    <div ng-show="DiscountCodeEntryEnabled && !StoreOrder.couponId" class="row">
                        <div class="col-md-3 col-md-offset-8">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Discount code" ng-model="DiscountCode" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ApplyDiscountCode()">Apply</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="CodeError">
                        <div class="col-md-6 col-md-offset-5">
                            <div class="alert alert-danger" style="margin-top: 10px;" >
                                <button type="button" class="close" ng-click="CodeError = null">&times;</button>
                                <span ng-bind="CodeError"></span>
                            </div>
                        </div>
                    </div>
                                

                    <div class="row" ng-show="StoreOrder.discount > 0">
                        <div class="col-md-6 col-md-offset-5 text-right">
                                    
                            <div >
                                Sub Total: <span ng-bind="StoreOrder.subTotal | currency: Store.currencySymbol" class="amount"></span>
                            </div>
                        </div>
                    </div>
                                
                    <div class="row" ng-show="StoreOrder.discount > 0">
                        <div class="col-md-6 col-md-offset-5 text-right">   
                            <div >Discount: <span ng-bind="StoreOrder.discount | currency: Store.currencySymbol" class="amount"></span></div>
                        </div>
                    </div>
                                
                    <div class="row" ng-show="StoreOrder.totalAmount > 0 || StoreOrder.discount > 0">
                        <div class="col-md-6 col-md-offset-5 text-right">   
                            <div>
                                Total: <span ng-bind="StoreOrder.totalAmount | currency: Store.currencySymbol" class="amount"></span>
                                <span ng-show="StoreOrder.isRecurring">&nbsp;per month</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-top: 1px #e5e5e5 solid;">
                    <div class="col-md-8 customer-details">
                        <div style="max-width: 550px; margin: 0 auto;">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <h3>Contact Information</h3>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-md-5 col-md-offset-1">
                                    <div class="control-group">
                                        <label class="control-label">First Name</label>
                                            
                                            <input ng-if="!Customer.exists" type="text" class="form-control " name="firstname" ng-model="Customer.firstName" ng-required="SavedCustomer.firstName == null" autofocus /> 
                                            <p ng-if="Customer.exists" ng-bind="Customer.firstName" class="form-control-static"></p>
                                            <span class="help-block text-danger" ng-show="checkout.firstname.$dirty && checkout.firstname.$error.required && checkout.firstname.$attempted">Please enter your first name</span>
                                            
                                    </div>
                                </div>

                                <div class="form-group col-md-5">
                                    <div class="control-group">
                                        <label class="control-label">Last Name</label>
                                            
                                            <input type="text" ng-if="!Customer.exists" class="form-control " name="lastname" ng-model="Customer.lastName" ng-required="SavedCustomer.lastName == null" /> 
                                            <p ng-if="Customer.exists" ng-bind="Customer.lastName" class="form-control-static"></p>
                                            <span class="help-block text-danger" ng-show="checkout.lastname.$dirty && checkout.lastname.$error.required && checkout.lastname.$attempted">Please enter your last name</span>
                                            
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10 col-md-offset-1">
                                    <div class="control-group">
                                        <label class="control-label">Email</label>
                                            
                                            <input type="email" ng-if="!Customer.exists" class="form-control " name="email" ng-model="Customer.email" ng-required="!Customer.exists" /> 
                                            <p ng-if="Customer.exists" ng-bind="Customer.email" class="form-control-static"></p>
                                            <span class="help-block text-danger" ng-show="checkout.email.$dirty && checkout.email.$error.required && checkout.email.$attempted">Please enter your email</span>
                                            <span class="help-block text-danger margin-top-10" ng-show="checkout.email.$dirty && checkout.email.$error.email && checkout.email.$attempted">Not a valid email</span>
                                            
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="Country.IsVisible()">
                                <div class="form-group col-md-5 col-md-offset-1">
                                    <div class="control-group">
                                        <label class="control-label">Country</label>
                                            
                                        <select name="country" ng-if="!Customer.exists || (Customer.exists && Customer.countryDisplay == null)" ng-model="Customer.countryId" ng-options ="c.id as c.countryName for c in CountryList" class="form-control " ng-required="IsCountryRequired()">
                                            <option value="">Select...</option>
                                        </select>
                                        <p ng-if="Customer.exists" ng-bind="Customer.countryDisplay" class="form-control-static"></p>
                                        <div class="help-block text-danger" ng-show="checkout.country.$attempted && checkout.country.$error.required">
                                            Please select country
                                        </div>                                            
                                    </div>
                                </div>

                                <div class="form-group col-md-5">
                                    <div class="control-group">
                                        <label class="control-label">City</label>
                                            
                                        <select ng-if="!Customer.exists || (Customer.exists && Customer.countryDisplay == null)" name="city" ng-model="Customer.city" ng-options ="c.name as c.name for c in CityList" class="form-control " >
                                            <option value="">Select...</option>
                                        </select>
                                        <p ng-if="Customer.exists" ng-bind="Customer.city" class="form-control-static"></p>                                            
                                    </div>
                                </div>
                            </div>
                            
                            
                            {% if customFields and customFields.size > 0 %}                            
                                {% for customField in customFields %}
                                <div class="row">
                                    <div class="form-group col-md-10 col-md-offset-1">
                                        {% include custom-fields %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <div class="row" ng-if="OrderContainsDirectContact()" >
                                <div class="col-md-10 col-md-offset-1">
                                    <p>This booking is facilitated by us completing a direct-dial phone call to you. Please provide a phone number where you can be contacted at the scheduled booking time.</p>
                                    <div class="control-group">
                                        <label class="control-label">Phone Number</label>
                                        
                                            <input type="tel" name="telephone" ng-model="Customer.phone" ng-required="OrderContainsDirectContact()" class="form-control " /> 
                                            <span class="help-block text-danger" ng-show="checkout.email.$dirty && checkout.phone.$error.required && checkout.phone.$attempted">Please enter your phone number</span>
                                            <span class="help-block text-danger margin-top-10" ng-show="checkout.phone.$dirty && checkout.phone.$error.email && checkout.phone.$attempted">Not a valid phone number</span>
                                        
                                    </div>
                                </div>
                            </div>
                                    
                            
                            <div class="row" ng-hide="Customer.exists">    
                                <div class="col-md-11 col-md-offset-1" ng-hide="HideCreateCustomer">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="Customer.createAccount"> Create an account (optional)
                                    </label>
                                </div>
                            </div>

                            <div ng-show="Customer.createAccount">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="control-group">
                                            <label class="control-label">Password</label>
                                                
                                                <input type="password" class="form-control " name="password" ng-model="Customer.password" ng-required="!(Customer.exists|| Session.IsLoggedIn) && Customer.createAccount" ng-minlength="5"/> 
                                                <span class="help-block text-danger" ng-show="checkout.password.$dirty && checkout.password.$error.required && checkout.password.$attempted">Please enter your password</span>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div ng-if="StoreOrder.totalAmount > 0">
                                <div ng-include="PaymentGateway.partial" onload="paymentGatewayPartialLoaded()"></div>
                            </div>
                            
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="alert alert-danger" ng-show="AlertMessage != null" >
                                        <p class="bg-danger" ng-bind-html="AlertMessage"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <button type="submit" class="btn btn-success btn-lg" ng-disabled="!IsValidCustomer(checkout)">
                                        <span ng-show="StoreOrder.totalAmount > 0"><i class="fa fa-shopping-cart"></i> Pay Now</span>
                                        <span ng-show="StoreOrder.totalAmount == 0"><i class="fa fa-check"></i> Confirm <span ng-bind="StoreOrder.orderSubject"></span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 existing-user text-center" style="padding-top: 10px;">
                        <div class="text-center" style="display:inline-block;" ng-hide="Customer.exists">
                            <div class="margin-top-10 margin-bottom-10 text-center">
                                <h3>Existing User</h3>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary btn-lg margin-top-10 margin-bottom-10" onclick="return Click('Login Clicked');" ng-href="/login?returnUrl={% raw %}{{GetUrlEncodedLocation()}}{% endraw %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>                            

				<div class="row form-actions clearfix">
                    <div class="col-md-12">
                        <div class="margin-left-10" style="line-height: 50px;">
                            <small><a ng-click="Cancel()" style="cursor: pointer;"><span ng-bind="ReturnText()"></span></a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.InitValues = {};
    window.InitValues.ReferralUrl = '{{ referralUrl }}';
    window.InitValues.StoreOrder = {{ storeOrder | json:'storeOrder' }};
    window.InitValues.Customer = {{ customer | json:'customer' }};
    window.InitValues.Session = {{ session | json:'session' }};
    window.InitValues.Store = {{ store | json:'store'}};
    window.InitValues.PaymentGateway = {{ paymentGateway | json:'paymentGateway'}} || {};        
</script>

{{ '/content/checkout/checkout-bundle.js' | script_tag }}

{% endblock %}
