{% extends empty-base %}
{% block title %}
{{title}} - Order #{{ storeOrder.id }} - {{ store.name }}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="store-logo">
            <a href="/" title="{{ store.name }}">
                {% if store.selectedLogo %}
                {{ store.selectedLogo | img_tag:store.name, store.selectedLogoClass }}
                {% else %}
                <h3>{{ store.name| escape }}</h3>
                {% endif %}
            </a>
        </div>

        {% if storeOrder.statusNumber == 300 %}
        <h1><i class="fa fa-check-circle text-success"></i> Order Pending</h1>
        {% else %}
        <h1><i class="fa fa-check-circle text-success"></i> Success</h1>
        {% endif %}
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-info-circle"></i>  Information</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        {% if storeOrder.statusNumber == 300 %}
                        <h2>Your order is being processed.</h2>
                        {% else %}
                        {% if storeOrder.totalAmount > 0 %}
                        <h2>Your order has been processed.</h2>
                        {% else %}
                        <h2 id="thanks-message"></h2>
                        {% endif %}
                        {% endif %}
                        
                        {% if storeOrder.totalAmount > 0 %}
                        <h3>Thank you for your purchase!</h3>
                        {% endif %}

                        <p>Your order number is: <strong>{{ storeOrder.id }}</strong></p>

                        <p>
                        {% for line in storeOrder.lines %}
                            {% assign orderCount = forloop.length %}
                            {% if line.productType == 1 %}
                            <div>
                                <i class="fa fa-calendar-o"></i> {{ line.sessionName | escape }} {{ line.sessionTime | local_time }}
                            </div>
                            {% elsif line.productType == 2 %}
                            <div>
                                <a href="{{ line.videoOnDemandUrl }}"><i class="fa fa-film"></i> {{ line.sessionName | escape }}</a>
                            </div>
                            {% elsif line.productType == 3 %}
                            <div>
                                <i class="fa fa-film"></i> {{ line.sessionName | escape }}
                            </div>
                            {% elsif line.productType == 4 %}
                            <div>
                                <i class="fa fa-archive"></i> {{ line.sessionName | escape  }}
                            </div>
                            {% elsif line.productType == 5 %}
                            <div>
                                <i class="fa fa-video-camera"></i> {{ line.sessionName | escape  }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        </p>

                        {% if storeOrder.storeOrderPayments != null %}
                        <p>Payment Method:</p>
                        <div style="margin-bottom: 10px;">
                            {% for payment in storeOrder.storeOrderPayments %}
                            <div>{{ payment.publicName }}: {{ payment.amount | money }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        {% if storeOrder.statusNumber == 300 %}
                        <p>We're waiting for the payment processor to confirm payment. Once your payment is received, this page will refresh automatically and you will receive a <span class="order-type-message"></span> confirmation email. You can close or navigate away from this page at any time.</p>
                        {% else %}
                        <p>You will receive {% if orderCount == 1  %}a <span class="order-type-message"></span> confirmation email {% else %}<span class="order-type-message"></span> confirmation emails{% endif %} with details of <span id="order-detail-message"></span>.</p>
                        <p>
                            Can't find the <span class="order-type-message"></span> confirmation email{% if orderCount > 1 %}s{% endif %}? <br />
                            You may need to check your Junk or Spam folder for a message from {{siteInfo.siteName}}.com.
                        </p>
                        {% endif %}                        

                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            {% if storeOrder.statusNumber == 500 %}
                            <a href="{{ referralUrl }}" class="btn btn-success btn-lg">Continue</a>
                            {% else %}
                            <a href="{{ referralUrl }}" class="btn btn-success btn-lg" disabled="true">Continue</a>
                            {% endif %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    if( {{ storeOrder.statusNumber }} == 300)
    {
        setTimeout(function(){
            window.location.reload(1);
        }, 5000);
    }

    var storeOrder =  {{ storeOrder | json:'storeOrder' }};

    var orderType = null;
    $.each(storeOrder.lines, function (index, line){
        // first product
        if(index == 0)
            orderType = line.productType;
        else {
            if(orderType != line.product){
                orderType = "order";
            }
        }
    }); 

    var thanksMessage = "Thank you for ";
    var orderTypeMessage = null;
    var orderDetailMessage = null;
    if(orderType == 1){ // 1 to 1 
        thanksMessage += "booking";
        orderTypeMessage = 'booking';
        orderDetailMessage = "your upcoming session";
    }
    else if(orderType == 2){ // rental
        thanksMessage += "renting a video";
        orderTypeMessage = 'rental';
        orderDetailMessage = "the video";
    }
    else if(orderType == 3){ // subscription 
        thanksMessage += "subscribing";
        orderTypeMessage = 'subscription';
        orderDetailMessage = "the video";
    }
    else if(orderType == 4){ // package
        thanksMessage += "ordering";
        orderTypeMessage = 'package';
        orderDetailMessage = "package";
    }
    else if(orderType == 5){ // webinar
        thanksMessage += "registering";
        orderTypeMessage = 'webinar';
        orderDetailMessage = "the webinar";
    }
    else{
        thanksMessage += "ordering";
        orderTypeMessage = '';
        orderDetailMessage = "your order";
    }

    thanksMessage += "!";

    $("#thanks-message").text(thanksMessage);
    $(".order-type-message").text(orderTypeMessage);
    $("#order-detail-message").text(orderDetailMessage);    
</script>

{% if storeOrder.statusNumber == 100 %}
    {% assign storeOrderStatus = 'New' %}
{% elsif storeOrder.statusNumber == 200 %}
    {% assign storeOrderStatus = 'OnHold' %}
{% elsif storeOrder.statusNumber == 300 %}
    {% assign storeOrderStatus = 'Pending Payment' %}
{% elsif storeOrder.statusNumber == 350 %}
    {% assign storeOrderStatus = 'Suspected Fraud' %}
{% elsif storeOrder.statusNumber == 400 %}
    {% assign storeOrderStatus = 'Processing' %}
{% elsif storeOrder.statusNumber == 500 %}
    {% assign storeOrderStatus = 'Complete' %}
{% elsif storeOrder.statusNumber == 600 %}
    {% assign storeOrderStatus = 'Closed' %}
{% elsif storeOrder.statusNumber == 700 %}
    {% assign storeOrderStatus = 'Canceled' %}
{% else %}
{% endif %}

<!-- Google Analytics -->
{{ store.googleAnanlyticsTrackingId | google_analytics_event_script_tag:'Checkout', storeOrderStatus, null, storeOrder.totalAmount }}

{% endblock %}