{% extends base %}
{% block title %}{{ playlist.title }} - {{ store.name }}{% endblock %}
{% block head %}
{{ templatePage | meta_tags }}
{% endblock %}
{% block content %}

{% if playlist.availableToWatch %}
<div class="row">
    <!-- Image and main body -->
    <div class="col-md-12">
        <h2>{{playlist.title}}</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe name="playlist" id="playlist" src="/playlist/{{playlist.id}}/embed" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{ playlist.title | escape }}</h1>
    </div>
</div>

<div class="row">
    <!-- Image and main body -->
    <div class="col-md-8">
        {{ playlist.image720Url | img_tag: playlist.title, 'img-responsive img-thumbnail'}}
    </div>

    <!-- Right booking info panel -->
    <div class="col-md-4 text-center">
        <ul class="video-details">
            {% if playlist.rentalAvailable %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-muted">Rental:</span> {{ playlist.rentalPrice | money }} {% if playlist.rentalPrice > 0 %}/ {{ playlist.rentalPeriod | period }} {% endif %}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-danger rent-playlist" data-playlist="{{ playlist.id }}">Rent</button>
                    </div>
                </div>
            </li>
            {% endif %}

            {% if playlist.purchaseAvailable %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-muted">Purchase :</span> {{playlist.purchasePrice | money}}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-primary btn-primary-dark purchase-playlist" data-playlist="{{ playlist.id }}">
						{% if video.purchasePrice == 0 or video.purchasePrice == null %}
						Free View
						{% else %}
						Purchase
						{% endif %}
						</button>
						<br />
						{% if video.purchasePrice == 0 or video.purchasePrice == null %}
						<strong style="font-size:12px;line-height:12px;padding-top:5px;display:inline-block">Registration required</strong>
						{% endif %}
                    </div>
                </div>
            </li>
            {% endif %}

            {% if playlist.subscriptionAvailable %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-muted">Subscription:</span> {{ playlist.subscriptionPrice | money }} {% if playlist.subscriptionPrice > 0 %}/ month {% endif %}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-success video-subscription" data-video="{{ video.id }}">Subscribe</button>
                    </div>
                </div>

                {% if store.subscriptionHelpText != null and store.subscriptionHelpText != "" %}
                <div class="row">
                    <div class="col-md-12 subscription-help-text">
                        {{store.subscriptionHelpText}}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endif %}

            <li><span class="text-muted">Total Duration:</span> {{ playlist.duration | duration_to_string}}</li>
            <li><span class="text-muted">Video{% if playlist.videoCount > 1 %}s{% endif %}:</span> {{ playlist.videoCount }}</li>
        </ul>
    </div>
</div>
{% endif %}

{% if playlist.descriptionHtml %}
<div class="row margin-top-20">
    <!-- Image and main body -->
    <div class="col-md-12">
        <div class="description">
            {% if playlist.availableToWatch %}
            <div class="collapse" id="collapse-description">
                <div class="collapse-inner">
                    {{ playlist.descriptionHtml }}
                </div>
            </div>

            <div class="text-center collapse-button-wrapper">
                <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapse-description"><i class="fa fa-angle-down" aria-hidden="true"></i> Description</button>
            </div>
            {% else %}
            {{ playlist.descriptionHtml }}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <h2 class="section-heading"><span>Includes</span></h2>

        <div class="playlist-items">
            {% include playlist-item-partial%}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
