{% extends empty-base %}
{% block title %}Reset Password - {{ store.name }}{% endblock %}
{% block content %}

<form class="form-signin" role="form" method="POST">
    <div class="store-logo">
        <a href="/" title="{{ store.name | escape }}">
            {% if store.selectedLogo %}
            {{ store.selectedLogo | img_tag:store.name, store.selectedLogoClass }}
            {% else %}
            <h3>{{ store.name| escape }}</h3>
            {% endif %}
        </a>
    </div>
    <h3 class="form-signin-heading">Reset Password</h3>
    {% if passwordSet == false %}
    <input type="password" name="Password" class="form-control" placeholder="New password" required autofocus>
    <input type="hidden" name="Code" value="{{ code }}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    {% endif %}
    {% if passwordSet == true %}
    <div class="alert alert-success">
        Password changed. <a href="/login">Log In!</a>
    </div>
    {% endif %}
    
</form>
    

{% endblock %}

{% block scripts %}
{% endblock %}