{% extends base %}
{% block title %}{{ video.title }} - {{ store.name }}{% endblock %}
{% block head %}    
    {{ templatePage | meta_tags }}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>{{ video.title | escape }}</h1>
    </div>
</div>

<div class="row">
    <!-- Image and main body -->
    <div class="col-md-8" style="margin-bottom:20px;">

         <div style="margin-bottom:20px;">
            {% include video-player%}
        </div>

        {% if video.descriptionHtml != empty %}
        <h2 class="section-heading"><span>Description</span></h2>
        <p>{{ video.descriptionHtml }}</p>
        {% endif %}    
        
        <!-- File Attachments -->
        {% if video.fileAttachments != empty %}
            <h2 class="section-heading"><span>File Attachments</span></h2>
            {% for attachment in video.fileAttachments %}
                <div>
                    <h4>{{ attachment.title | escape }}</h4>
                    <p>{{ attachment.description | escape }}</p>
                    <div class="filename"><i class="fa {{attachment.icon}}"></i> {{ attachment.filename | escape }}
                        {% if attachment.downloadUrl != null %}
                        <a href="{{ attachment.downloadUrl }}" class="btn btn-default" target="_blank" download="{{ attachment.filename | escape }}"><i class="fa fa-download"></i> Download</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <!-- Right booking info panel -->
    <div class="col-md-4" style="text-align: center;">
        
        <ul class="video-details">
            {% if video.subscribed == false and video.purchased == false%}
            <li>
                <div class="row">
                    {% if video.rented %}
                    <div class="col-md-12">
                        Rental expires {{ video.rentalExpire | from_x }}
                    </div>
                    {% endif %}

                    {% if video.rentalAvailable and video.rented == false %}
                    <div class="col-md-8">
                        <span class="text-muted">Rental:</span> {{ video.rentalPrice | money }} {% if video.rentalPrice > 0 %}/ {{ video.rentalPeriod | period }} {% endif %}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-danger video-rental" data-video="{{ video.id }}">Rent</button>
                    </div>
                    {% endif %}                    
                </div>
            </li>
            {% endif %}
            {% if video.subscribed == false and video.purchaseAvailable and video.purchased == false %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-muted">Purchase:</span> {{ video.purchasePrice | money }}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-primary btn-primary-dark video-purchase" data-video="{{ video.id }}">
						{% if video.purchasePrice == 0 or video.purchasePrice == null %}
						Free View
						{% else %}
						Purchase
						{% endif %}
						</button>
						<br />
						{% if video.purchasePrice == 0 or video.purchasePrice == null %}
						<strong style="font-size:12px;line-height:12px;padding-top:5px;display:inline-block">Registration required</strong>
						{% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
            {% if video.subscriptionAvailable and video.subscribed == false %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <span class="text-muted">Subscription:</span> {{ video.subscriptionPrice | money }} {% if video.subscriptionPrice > 0 %}/ month {% endif %}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-xs btn-success video-subscription" data-video="{{ video.id }}" >Subscribe</button>
                    </div>
                </div>

                {% if store.subscriptionHelpText != null and store.subscriptionHelpText != "" %}
                <div class="row">
                    <div class="col-md-12 subscription-help-text">
                        {{store.subscriptionHelpText}}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% if video.author%}
            <li><span class="text-muted">Author:</span> {{ video.author | escape }}</li>
            {% endif %}        
            {% if video.tags != empty %}
            <li>
                <div class="text-muted">Tags:</div>
                <div>
                {% for tag in video.tags %}        
                <div class="label label-info" style="margin-bottom:3px;">{{tag}}</div>
                {% endfor %}
                </div>
            </li>
            {% endif %}        
        </ul>

        
    </div>
</div>


{% endblock %}
	
{% block scripts %}
{% include video-player-scripts%}
{% endblock %}